* {
    font-family: 'Microsoft YaHei UI';
    font-size: 20px;
    margin: 0;
    padding: 0;
}

.title {
    height:450px;
}

.big {
    background-color: pink;
    text-align: center;
    margin: auto;
}

.body1 {
    width: 360px;
    height: 440px;
    display: inline-block;
}


.up {
    text-align: left;
}

.booktitle {
    text-align: right;
    font-style: italic;
}

.body2 {
    width: 360px;
    display: inline-block;
}

.body3 {
    width: 360px;
    display: inline-block;
}

#pic1 {
    display: inline-block;
    width: 360px;
}

#pic2 {
    display: inline-block;
    width: 360px;
}

#pic3 {
    display: inline-block;
    width: 360px;
}

.mid {
    background-color: pink;
    margin: auto;
    text-align: center;
    font-family: Consolas;
}

.bottom {
    background-color: antiquewhite;
    margin: auto;
    text-align: center;
}

#love {
    text-align: center;
    font-family: Microsoft YaHei UI;
    font-size: 30px;
    font-weight: 100; /*字体为特细*/
}

#lulu {
    text-align: center;
    font-family: Microsoft YaHei UI Light;
    font-size: 30px;
    font-weight: 100; /*字体为特细*/
}

#quni {
    text-align: center;
    font-family: Microsoft YaHei;
    font-size: 20px;
    font-weight: 100; /*字体为特细*/
}

#last {
    width: 100%;
    //height: 200px;
    background-color: deepskyblue;
}
